#email = randhircs@github.com
#always-auth = true
#registry=https://jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/
# //jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/:_authToken=${secrets.JFROG_ARTIFACTORY_TOKEN}
